<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/users" method="POST">
    <label>First name
      <input type="text" name="firstName" value=" <%= locals.firstName %> " />
    </label>
    <button type="submit">Submit</button>
  </form>
  <div>em routes/users.js tem uma função router.post que chega aqui</div>
  <div>a variável firstName está sendo definida lá em get. ela é pega pelo locals</div>
</body>
</html>